  <!-- Modal -->
  <div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><img src="images/logo.png" class="img-responsive"></center>
        </div>
        <div class="modal-body">
            <div class="form-padding">
              <h3><center>Signup</center></h3>
              <form ng-submit="signup()" class="form center-block">
                  <div class="form-group">
                    <input type="text" autofocus="" required="" ng-model="signupData.name" placeholder="Name" class="form-control input-lg">
                  </div>
                  <div class="form-group">
                    <input type="email" required="" ng-model="signupData.email" placeholder="Email" class="form-control input-lg">
                  </div>
                  <div class="form-group">
                    <input type="password" required="" ng-model="signupData.password" placeholder="Password" class="form-control input-lg">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Signup</button>
                  </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <a href="" ng-click="openLoginModal()">Already have account ?</a>
        </div>
      </div>
      
    </div>
  </div>