<!-- Page Content -->
<div class="container">

	<!-- Introduction Row -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				<small>It's Nice to Meet You!</small>
			</h1>
			<p> For this project related any questions, issues or suggestions, please write to me at kamlesh.205110047@gmail.com</p>
			<p>For all other enquiries, please call to me at +91-7847826750</p>
		</div>
	</div>

	<!-- Team Members Row -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">About Me</h2>
		</div>
		<div class="col-lg-4 col-sm-6 text-center">
			<img class="img-circle img-responsive img-center" src="images/my_pic.jpg" alt="It's me">
			<h3>Kamlesh kumar verma
				<div><small>Software Developer at Red Hat India Private Ltd.</small></div>
			</h3>
			<p>I am mentor for angularjs project , for any help or query related to angular , please revert back to my email . i am pleased to serve you for your issue .</p>
			<div class="row">
				<div class="join-me-on">
					<div class="col-md-4">
						<small>Join me on</small>
					</div>
					<div class="col-md-2">
						<a class="fb" target="_blank" href="https://www.facebook.com/kamlesh.verma.16906"></a>
					</div>
					<div class="col-md-2">
						<a class="tweet" target="_blank" href="https://twitter.com/kamleshbabaraj"></a>
					</div>
					<div class="col-md-2">
						<a class="google" target="_blank" href="https://plus.google.com/u/0/114164564178232255923/posts"></a>
					</div>
				</div>
            </div>
		</div>
	</div>

	<hr>

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; F-Kart 2015</p>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</footer>

</div>